<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="system.logging.system.dir" value="./log" />
	<property name="system.logging.system.level" value="debug" />
	<property name="system.logging.system.size" value="20" />
	<property name="system.logging.system.count" value="10" />
	<property name="system.logging.badWriterDir" value="./log" />
	<property name="system.badwriter.count" value="10" />
	<property name="system.badwriter.size" value="100" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${system.logging.system.dir}/system.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${system.logging.system.dir}/system.%i.log
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>${system.logging.system.count}</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${system.logging.system.size}MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${system.logging.system.level}</level>
		</filter>
	</appender>

	<appender name="badWriter" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>./log/badWiter.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>./log/badWiter.log.%i.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>${system.badwriter.count}</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${system.badwriter.size}MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="badWriter">
		<appender-ref ref="badWriter" />
	</logger>
</configuration>